/* COLORS */
$black: #000;
$white: #fff;
$background: #dedede;
$fontColor: #848383;
$blue: #66CCFF;
$green: #33CC33;

/* FONTS */
$basicFont: Verdana, Geneva, sans-serif;
$fontWeight: normal;
$fontSizeTitle: 24px;
$fontSize: 14px;

/* index */
$index: 1;